
@{
    ViewBag.Title = "StartPage";
    Layout = "~/Views/Shared/_LayoutEmpity.cshtml";
}


<div id="particles-js"></div>
<script src="~/Plugins/particles/js/particles.js"></script>
<script src="~/Plugins/particles/js/app.js"></script>
<script src="~/Plugins/particles/js/lib/stats.js"></script>

<div style="    position: absolute;
    color: white;
    font-size: 400px;
    background-color: rgba(101, 176, 220, 0.33);
    border: 1px solid #99cfd8;">
    <h1>Home</h1>
</div>